@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    margin: 0;
    padding: 0; 
}

body {
    font-family: "Reenie Beanie", cursive ;
    color: #343434; /* You can keep or modify this */
    background-color: #eeeeee; /* Black background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    position: fixed;
    top: 20px;
    right: 5%;
    width: 100px; /* Adjust size as needed */
    max-width: 12vw ;
    z-index: 1000; /* Ensure it stays above other content */
    /* filter: grayscale(100%); Apply black and white filter */
}

.container {
    max-width: 1200px;
    padding: 20px;
}

#intro {
    text-align: center;
    padding: 7vh;
}

#intro h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.char-drift span {
    display: inline-block;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.list-heading-text {
    /* font */
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    margin-bottom: 20px;
}

.project-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Full width of the page */
}

.project {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.116);
    margin: 5px;
    padding: 8px;
    border: 1px solid #ddd3;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    /* font */
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vh;
}

.card-name {
    font-size: large;
    display: none;
}

.project:hover {
    transform: translateY(-3px);
    cursor: pointer; /* Changes the cursor to indicate a link */
}

.project h2 {
    /* font */
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    margin-bottom: 10px;
    cursor: pointer; /* Changes the cursor to indicate a link */
}

footer {
    text-align: center;
    background-color: #fcfcfc93;
    width: 100%;
    position: static;
    bottom: 0;
    margin-top: auto; /* Ensures it stays at the bottom while being static */
}

.rights {
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

/* Added social-icons container to place icons vertically on the right */
.social-icons {
    position: fixed;
    right: 20px;
    top: 75%; /* Moved 25% lower in the window */
    transform: translate(50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 18px; /* Adds space between the icons */
    border: 1px solid rgba(13, 13, 13, 0.2);
    padding: 20px 30px 20px 3px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.icon {
    margin: 0 10px; /* Space between icons */
}

.icon img {
    width: 40px; /* Adjust size as needed */
    height: auto;
}

.featured-image {
    position: static;
    top: 0;
    left: 50%;
    /* transform: translateX(-50%); */
    width: 20vh;
    max-width: 50vh; /* Adjust the width as needed */
    padding-top: 0 ; /* Optional padding to create space from the top */
    z-index: 1000; /* Ensures it's above other content */
    border: 1px solid #ddd3;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 
/* Styles for devices with width less than 768px (tablets and mobile phones) */
@media (max-width: 768px) {
    #intro {
        text-align: center;
        padding: 7vh;
    }
    
    #intro h1 {
        font-size: 3rem;
        max-inline-size: 10vw;
        margin-bottom: 20px;
    }

    .char-drift {
        white-space: nowrap; /* Prevent line breaks inside this element */
    }
    
    .char-drift span {
        /* display: inline-block; */
        position: relative;
        transition: transform 0.5s ease-in-out;
    }
} 